*, *::before, *::after {
	margin: 0;
	padding: 0;
	transition: all 1s;
	all: unset;
}

head {
	display: none;
}

body {
	position: relative;
	background-color: black;
	font-family: Helvetica;
	display: flex;
	overflow: clip;

	width: 100vw;
	height: 100vh;
}

article {
	position: absolute;
	display: flex;
}

form {
	width: 100%;
	height: 100%;
}

input {
	width: 100%;
	text-align: center;

	&[type="submit"] {
		height: 100%;
		cursor: pointer;
	}
}

script {
	display: none;
}
